.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 30vh;
    background-image: url('../../Assets/img/hero.jpg');
    background-size: cover;
    color: #fff;
    text-align: center;
    &__title{
      font-family: 'Chicle', cursive;
      font-size: 5rem;
      display: flex;
      flex-direction: column;

      &--alt{
        font-size: 2.2rem;
        margin: 0;
        padding: 0;
        text-align: center;
      }
    }
    
  }