body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




.active {
  color: rgba(255, 126, 124, 0.667);
  font-weight: 800;
  text-decoration: none;
}

.active:visited {
  color: rgba(255, 126, 124, 0.667);
  font-weight: 800;
  text-decoration: none;
}

.inactive{
  color: #585858;
  font-weight: 400;
  text-decoration: none;
}




.btns {
  display: flex;
  justify-content: center;
}

.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 20px 50px;
}

